---
import Layout from '../layouts/Layout.astro';
import Editor from '../components/Editor';
import SideNav from '../components/SideNav';
---

<Layout title="Writer">
  <div class="flex min-h-screen">
    <SideNav client:load />
    <main class="flex-1 w-full lg:ml-[5%]">
      <div class="w-[90%] sm:max-w-4xl mx-auto lg:py-8 sm:px-4">
        <Editor client:only="react" />
      </div>
    </main>
  </div>
</Layout>