---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Editor from '../components/Editor.tsx';
---

<Layout title="Welcome to Astro.">
	<main class="min-h-screen w-full overflow-hidden">
		<Editor client:only="react" />
	</main>
</Layout>